* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.6;
    color: #06113C;
}

h1 {
    font-family: "Permanent Marker";
    font-size: xx-large;
}

.container {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 40px;
}


.button {
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #F7BE16;
}

.button i {
    margin-right: 10px;
}

nav {
    background: #fff;
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    width: 40px;
}

.logo-name {
    font-size:large;
    font-weight:900;
    color: #06113C;
}

.menu {
    display: flex;
}

.menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #06113C;
    padding: 10px 10px;
}

.menu li a:hover {
    background: rgb(247, 190, 22, 0.2); 
    color: #06113C;
}

.header {
    background-image: url(../images/Optimized-mario-gogh-VBLHICVh-lI-unsplash.jpg);
    background-size: cover;
    height: 800px;
    color: #fff;
    padding: 24px 0px;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header-content {
   width: 600px;
   height:70%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
}

.header-content p{
    font-size: 20px;
    text-align: justify; 
}

.header-content h1 {
    font-family: "Permanent Marker";
    text-align:left;
}


section {
    height: 600px;
    padding: 24px 0px;
}


.offers .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers .container h1{
    align-self: center;
}

.offers .container ol {
    counter-reset: li;
    list-style: none;
    margin: 0;
    padding: 0;

    align-self: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

 .offers .container ol li {
    counter-increment: li;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .offers .container ol li::before {
    content: "0" counter(li);
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
    font-family:  "Arial",serif;
    line-height: 1;
    background:#DDDDDD;
    color:#274472;
    padding: 10px;
    border-radius: 100%;
  }

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    background: #06113C;
    color: #fff;
    width: 200px;
    height: 200px;
    padding: 15px 20px;
    border-radius: 15%;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box span {
    font-family: "Permanent Marker";
    font-size: large;
    text-align: center;
}


.come-with-us {
    background: linear-gradient(90deg, #F7BE16 50%, #06113C 50%);
    /* background: #EEEEEE; */
}

.come-with-us .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.get-started, .join-us {
    height: 100%;
    flex: 1;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.get-started p {
    font-size: large;
}

.contact-us .button {
    color: #fff;
    background-color: #06113C;
  }

.join-us {
    color: #fff;
    align-items: flex-end;
}

.join-us p {
    text-align: right;
    font-size: large;
}

section:nth-of-type(4) {
    height: 400px;
    background: #EEEEEE;
}

.citation .container {
    display: flex;
}

.blockquote {
    border-left: rgb(247, 190, 22, 0.5) solid 10px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quote::before {
    content: "\201c";
    font-size: 100px;
    color:#F7BE16;
    font-family: 'Gill Sans';
    display: block;
    margin: -80px 0;
}


.quote {
    font-family: 'Cookie';
    font-size: 48px;
    font-style: italic;
}


.author {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}

.author::before {
    content: "\2014\0020"; /* - */
}

.partners .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.partners-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 50px;
}

.partners-logo img {
    width: 200px;
}

.partners-logo img:nth-of-type(2) {
    width: 150px;
}


footer {
    background-color: #06113C;
    color: #fff;
    height: 150px;
    padding: 24px 0px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: #F7BE16;
}

.copyright {
    align-self: center;
}





