@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.6;
    color: #1F2937;
    background: #fff;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 40px;
}


nav {
    background: #fff;
    padding: 12px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .container {
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 60px;
}

.logo-name {
    font-size: small;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #1F2937;
}

.menu li a:hover {
  color: #3882F6;
}

.header {
    background-color: #1F2937;
    color: #fff;
    padding: 24px 0px;
}

.header .container {
    justify-content: space-between;
    gap: 20px;

}

.header .container div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: justify;
}

.header .container div h1 {
    text-align:left;
}

.header .container div a{
    padding: 10px 20px;
    color: #1F2937;
    background-color: yellow;
    font-size: medium;
    font-weight: bold;
}

.header img {
    width: 400px;
    margin: 20px;
}






